.card {
    max-width: 400px;
    margin-bottom: 8px;
    /* background-color: black; */
  }
.header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}
span{
  color: grey;
}
.icons{
  float: left;
  padding-inline: 20px;
}
.icons div{
  float: left;
  padding-inline: 10px;

}
.spacer {
    flex: 1 1 auto;
}
